---
layout: default
---

<article>
<header>
<div class="blogparent"><a href="/notes" rel="tag">Book Notes</a>:</div>	
<h1>{{ page.title }}</h1>
<small>
ISBN: {{ page.isbn }}<br>
Date read: {{ page.time }}<br>
How strongly I recommend it: {{ page.rating }}<br>
	</small>
	<a href="{{ page.buy}}"><img class="post-image" src="{{ page.image }}" alt="{{ page.alt }}"></a>
<p><strong>Go to the <a href="{{ page.buy }}">Amazon page</a></strong> for details and reviews.</p>
</header>

{{ content }}	

</article>

<h3>
	Copy &amp; share:
        <span class="url"><a href="{{ page.url }}">derykmakgill.com{{ page.url }}</a></span>
</h3>
