---
layout: default
---

<article>
<header>
<div class="blogparent"><a href="/archive" rel="tag">Articles</a>:</div>
<h1>{{ page.title }}</h1>
<small>{{ page.date | date_to_string }}</small>
  
 {% if post.image %}
      <div class="post-image">
        <a href="{{ page.url | relative_url }}" style="
    text-decoration: none;
">
          <img src="{{ page.image | relative_url }}">
        </a>
      </div>
      {% endif %}  
</header>

  {{ content }}	


<div class="related">
  <h2>Other Posts</h2>
  <div class="related-posts">
    {% for post in site.related_posts limit:3 %}
        <h4>
          <a href="{{ post.url }}">
            {{ post.title }}</a>
            <small>{{ post.date | date_to_string }}</small>
          
        </h4>
    {% endfor %}
</div>
<br>

</article>
